#!/usr/bin/env xdg-open
#.local/share/applications/sqldeveloper.desktop
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/okocian/bin/sqldeveloper/icon.png
Exec=/home/okocian/bin/sqldeveloper/sqldeveloper.sh
#Exec=/home/okocian/bin/sqldeveloper/sqldeveloper/bin/sqldeveloper
Name=sqldeveloper
